@media(max-width:800px){
    .mainMenu{
        height:100vh;
        position:fixed;
        top:0;
        right:0;
        left:0;
        z-index: 10;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;

    }
    .closeMenu{
        display: block;
        position:absolute;
        top:20px;
       

    }
    .openMenu{
        display: block;
    }
    body .navbar .list .list-items a:hover{
        background: none;
        color:rgb(255, 123, 0);
        font-size: 1.6rem;
    }
}
    

