/**============================================================================**/
/**Footer section**/
/**============================================================================**/
.footer{
    background-color:#24263B;
    color:white;
    text-align: center;
    padding:1rem;
    height:15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    width:100%;
    p{
        margin-bottom: 16px;
        font-family: open sans;
        font-size: 1rem;
    }
}

