/**============================================================================**/
/**Main section**/
/**============================================================================**/

.main-section{
    background-image: url(../images/12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: column;
    .main{
        .main-container{
            display:flex;
            justify-content: space-around;
            align-items: center;
            .main-sub-container{
                // margin-left:10rem;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
               
                h3{
                    font-size: 1.5rem;
                    font-family: "poppins SemiBold";
                    color:$white;
                    text-shadow:1px 1px 1px $text-color;
                    letter-spacing: .3rem;
                }
                .typed-words{
                    font-size: 3.5rem;
                    font-family: "lobster";
                    font-weight: 500;
                    padding-bottom: 1rem;
                    color:$white;
                    text-shadow:1px 1px 1px $text-color;
                }
                p{
                    font-family: "poppins light";
                    font-size: 1.1rem;
                    color:$white;
                }
                .btn-main{
                    display:flex;
                    column-gap: 1rem;
                    .btn-1{
                        width:8rem;
                        height:3rem;
                        border-radius:30px;
                        border: 2px solid $white;
                        padding:0.1rem;
                        color:$white;
                        background-color:rgba(0,0,0,0);
                        margin-top:1rem;
                        transition: all 0.3s ease;
                        &:hover{
                            border: 2px solid $orange;
                        }
                        a{
                            color:$white;
                            text-decoration: none;
                        }
                    }
                    .btn-1-1{
                        width:8rem;
                        height:3rem;
                        border-radius:30px;  
                        padding:0.1rem;
                        color:$white;
                        background-color:$orange;
                        border:none;
                        margin-top:1rem;
                        transition: all 0.3s ease;
                        &:hover{
                            border: none;
                            color:$black;
                            background-color: $white;
                        }
                        a{
                            color:$white;
                            text-decoration: none;
                        }
                    }
                }
    
            }
            
    
        }
        .profile-picture-bg{
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 1px 0px 0px $white;
            border-radius: 50%;
            height: 23.75rem;
            width: 23.75rem;
         .profile-picture{
                height: 92%;
                width: 92%;
                border-radius: 50%;
                background-image: url('../images/9.JPG');
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 1s ease-out;
                &:hover{
                    transform: scale(1.07);
                    cursor: pointer;
                }
            }
            
        }
       
    }
}



// @media(min-width:1280px){
//     .main-section{
//         background-image: url(../images/12.png);
//         background-position: bottom;
//         background-repeat: no-repeat;
//         background-size: cover;
//         height:70vh;
//         display: flex;
//         flex-direction: column;
//         .main{
//             // width:100%;
//             // display: flex;
//             // align-items: center;
//             // justify-content: center;
//             // column-gap: 0px;
//             .main-container{
//                 // display:flex;
//                 // justify-content: center;
//                 // align-items: center;
//                 // margin-top: 3rem;


//                 .main-sub-container{
//                     //  width:100%;
//                     // margin-left:3rem;
//                     // display:flex;
//                     // justify-content: center;
//                     // align-items: center !important;
//                     // flex-direction: column;
                
//                     // h3{
//                     //     font-size: 1rem;
//                     // }
//                     // .typed-words{
//                     //     font-size: 2rem;
//                     // }
            
//                     // .btn-main{
//                     //     display:flex;
//                     //     column-gap: 1rem;
//                     //     .btn-3{
//                     //         width:7rem;
//                     //         height:3rem;
//                     //     }
//                     //     .btn-3-1{
//                     //         width:7rem;
//                     //         height:3rem;
//                     //     }
//                     // }
        
        
//                 }
                
        
//             }
//             .profile-picture-bg{
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 box-shadow: 0 1px 0px 0px $white;
//                 border-radius: 50%;
//                 height: 30rem;
//                 width: 30rem;
//                 margin-right:3rem;
//             .profile-picture{
//                     // height: 92%;
//                     // width: 92%;
//                     // border-radius: 50%;
//                     // background-image: url('../images/9.JPG');
//                     // background-position: top;
//                     // background-repeat: no-repeat;
//                     // background-size: cover;
//                     // transition: all 1s ease-out;
//                     // &:hover{
//                     //     transform: scale(1.07);
//                     //     cursor: pointer;
//                     // }
//                 }
                
//             }
        
//         }
//     }
// }
@media(max-width:800px){
    .main-section{
        // background-color: #24263B;
        // width:100%;
        // height:95vh;
        // display: flex;
        // flex-direction: column;
        .main{
            // width:100%;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // column-gap: 0px;
            .main-container{
                // display:flex;
                // justify-content: center;
                // align-items: center;
                margin-top: 3rem;


                .main-sub-container{
                    //  width:100%;
                    margin-left:3rem;
                    // display:flex;
                    // justify-content: center;
                    // align-items: center !important;
                    // flex-direction: column;
                
                    h3{
                        font-size: 1rem;
                    }
                    .typed-words{
                        font-size: 2rem;
                    }
            
                    .btn-main{
                        display:flex;
                        column-gap: 1rem;
                        .btn-3{
                            width:7rem;
                            height:3rem;
                        }
                        .btn-3-1{
                            width:7rem;
                            height:3rem;
                        }
                    }
        
        
                }
                
        
            }
            .profile-picture-bg{
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 1px 0px 0px $white;
                border-radius: 50%;
                height: 18.75rem;
                width: 18.75rem;
                // margin-right:3rem;
                // .profile-picture{
                    // height: 92%;
                    // width: 92%;
                    // border-radius: 50%;
                    // background-image: url('../images/9.JPG');
                    // background-position: top;
                    // background-repeat: no-repeat;
                    // background-size: cover;
                    // transition: all 1s ease-out;
                    // &:hover{
                    //     transform: scale(1.07);
                    //     cursor: pointer;
                    // }
                // }
                
            }
        
        }
    }

    .img-flow{
        width:100%;
        height:2rem;
        position: absolute;
        top:88vh;
    }
}
@media(max-width:600px){

    .main-section{
        // background-color: #24263B;
        // width:100%;
        // height:60vh;
        // display: flex;
        // flex-direction: column;
        .main{
            // width:100%;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // column-gap: 0px;
            .main-container{
                // display:flex;
                // justify-content: center;
                // align-items: center;
                margin-top: 7rem;


                .main-sub-container{
                    //  width:100%;
                    margin-left:3rem;
                    // display:flex;
                    // justify-content: center;
                    // align-items: center !important;
                    // flex-direction: column;
                
                    // h3{
                    //     // font-size: 1.4rem;
                    //     // font-family: "poppins SemiBold";
                    //     // color:$white;
                    //     // text-shadow:1px 1px 1px $text-color;
                    // }
                    .typed-words{
                        font-size: 2rem;
                    }
            
                    // .btn-main{
                    //     display:flex;
                    //     column-gap: 20px;
                    // }
        
                }
                
        
            }
            .profile-picture-bg{
                display: none;
                // .profile-picture{
                //     // height: 92%;
                //     // width: 92%;
                //     // border-radius: 50%;
                //     // background-image: url('../images/9.JPG');
                //     // background-position: top;
                //     // background-repeat: no-repeat;
                //     // background-size: cover;
                //     // transition: all 1s ease-out;
                //     // &:hover{
                //     //     transform: scale(1.07);
                //     //     cursor: pointer;
                //     // }
                // }
                
            }
        
        }
    }

    .img-flow{
        width:100%;
        height:2rem;
        position: absolute;
        top:88vh;
    }
}

