/**============================================================================**/
/**Universal elements**/
/**============================================================================**/
$white:white;
$black:black;
$theme-color:#FF5823;
$text-color:#333;
$title-color:#222;
$orange:#FF5823;
$blue-bg:#24263B;
* {
    margin:0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    color:$white;
    text-decoration: none;
}
body{
    font-family: 'poppins, poppins regular';
    font-size: 1rem;
    margin:auto;
    color: $text-color;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    section{
        height:100vh;
    }    
}
.col{
    color:$theme-color;
}
.hr{
    width:60px;
    border-top:solid 3px $theme-color;
    margin:auto;
}
.h1{
    color:$title-color;
    font-size:2rem;
    text-align: center;
    font-family: Montserrat;
    font-weight: 50;
}

.social-3{
    display:flex;
    width:100%;
    justify-content: space-between;
    margin:1rem auto;
    li a{
        color:rgb(245, 244, 244);
        transition:all 1s ease;
        :hover{
            color:$theme-color;
        }
    }
}

 #preloader{
     background: $white url(../images/4.GIF) no-repeat center center;
     background-size: 30%;
     width:100%;
//     height:100vh;
//     z-index: 100;
//     position: fixed;
// }

.goToTop{
    width:2.5rem;
    height:2.5rem;
    position: fixed;
    bottom: 40px;
    right:18px;
    background-color: $blue-bg;
    text-align: center;
    font-size: 1.3rem;
    line-height: 42px;
    border-radius: 50%;
}
@media (max-width:800px){
    .goToTop{
        width:2.125rem;
        height:2.125rem;
        position: fixed;
        bottom: 40px;
        right:18px;
        background-color: $blue-bg;
        text-align: center;
        font-size: 1.2rem;
        line-height: 35px;
        border-radius: 50%;
    }
}

