/**============================================================================**/
/**Universal elements**/
/**============================================================================**/
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: auto;
  color: #333;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

body .container {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body section {
  height: 100vh;
}

.hr-2 {
  width: 60px;
  border-top: solid 3px #FF5823;
  margin: auto;
}

.hr-1 {
  width: 60px;
  border-top: solid 3px #FF5823;
  margin: auto;
}

.btn-1 {
  width: 8rem;
  height: 2.3rem;
  padding: 0.1rem;
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-top: 1rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.btn-1:hover {
  border: none;
  background-color: #FF5823;
  cursor: pointer;
}

.btn-2 {
  width: 160px;
  height: 50px;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #333;
  background-color: white;
  margin: 1rem auto auto 1rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border: 1px black solid;
}

.btn-2 a {
  color: white;
}

.btn-2:hover {
  border: none;
  background-color: #FF5823;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  cursor: pointer;
}

.btn-3 {
  width: 9rem;
  height: 3rem;
  border-radius: 30px;
  border: 2px solid white;
  padding: 0.1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-3:hover {
  border: 2px solid #FF5823;
}

.btn-3 a {
  color: white;
  text-decoration: none;
}

.btn-3-1 {
  width: 9rem;
  height: 3rem;
  border-radius: 30px;
  padding: 0.1rem;
  color: white;
  background-color: #FF5823;
  border: none;
  margin-top: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-3-1:hover {
  border: none;
  color: black;
  background-color: white;
}

.btn-3-1 a {
  color: white;
  text-decoration: none;
}

.btn-about-1 {
  width: 9rem;
  height: 3rem;
  border-radius: 30px;
  padding: 0.1rem;
  color: white;
  background-color: #FF5823;
  border: none;
  margin-top: 1rem;
}

.btn-about-1:hover {
  color: black;
}

.btn-about-1 a {
  color: white;
  text-decoration: none;
}

.btn-about-2 {
  width: 9rem;
  height: 3rem;
  border-radius: 30px;
  padding: 0.1rem;
  color: white;
  background-color: #FF5823;
  border: 2px solid black;
  margin-top: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-about-2:hover {
  border: none;
  color: black;
}

.btn-about-2 a {
  color: white;
  text-decoration: none;
}

.btn-contact {
  width: 9rem;
  height: 3rem;
  border-radius: 30px;
  padding: 0.1rem;
  color: white;
  background-color: #FF5823;
  border: 2px solid black;
  margin-top: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-contact:hover {
  border: none;
  color: black;
}

.btn-contact:disabled {
  background-color: grey;
  border: none;
  color: white;
}

.btn-contact a {
  color: white;
  text-decoration: none;
}

.col {
  color: #FF5823;
}

.h1, .h1-abt {
  color: #222;
  font-size: 2rem;
  text-align: center;
  font-family: Montserrat;
  font-weight: 50;
}

.h1-abt {
  text-align: left;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /* justify-content: flex-end; */
}

.social .social-items a {
  margin-left: 0.8rem;
  color: #f5f4f4;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.social .social-items a:hover {
  /* margin-left:0.8rem; */
  color: #FF5823;
}

.social-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social-2 .social-items-2 {
  margin: 1rem;
  color: #333;
}

.social-2 .social-items-2 a {
  margin: 1rem 1rem 1rem 0.3rem;
  color: #333333;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.social-2 .social-items-2 a:hover {
  color: #FF5823;
}

.social-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.social-3 .social-items a {
  margin-left: 26px;
  color: #f5f4f4;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.social-3 .social-items a:hover {
  color: #FF5823;
}

#preloader {
  background: white url(../images/4.GIF) no-repeat center center;
  background-size: 30%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
}

.goToTop {
  width: 3.125rem;
  height: 3.125rem;
  position: fixed;
  bottom: 40px;
  right: 18px;
  background-color: #24263B;
  text-align: center;
  font-size: 1.8rem;
  line-height: 50px;
  border-radius: 50%;
}

/**============================================================================**/
/**Navbar section**/
/**============================================================================**/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
}

nav .logo h1 {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  margin-left: 3rem;
}

nav .openMenu {
  font-size: 2rem;
  display: none;
  margin: 20px;
  cursor: pointer;
}

nav .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
}

nav .mainMenu li {
  margin-left: 0.2rem;
}

nav .mainMenu a {
  color: white;
}

nav .mainMenu a:hover {
  color: #FF5823;
}

nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  nav {
    width: 100%;
  }
  nav .logo h1 {
    padding: 1rem;
  }
  nav .openMenu {
    display: block;
    color: white;
    padding: 0;
  }
  nav .mainMenu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
    background-color: #999999;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
  }
  nav .mainMenu .closeMenu {
    color: white;
    display: block;
    position: absolute;
    font-size: 2rem;
    top: 20px;
    right: 20px;
  }
}

/**============================================================================**/
/**Main section**/
/**============================================================================**/
.main-sect {
  background-color: #24263B;
  width: 100%;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-sect .main {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

.main-sect .main .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -500px;
}

.main-sect .main .main-container .main-sub-container {
  margin-left: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-sect .main .main-container .main-sub-container h3 {
  font-size: 1.4rem;
  font-family: "poppins SemiBold";
  color: white;
  text-shadow: 1px 1px 1px #333;
}

.main-sect .main .main-container .main-sub-container .typed-words {
  font-size: 3rem;
  font-family: "cursive";
  font-weight: 500;
  padding-bottom: 1rem;
  color: white;
  text-shadow: 1px 1px 1px #333;
}

.main-sect .main .main-container .main-sub-container p {
  font-family: "poppins light";
  font-size: 1rem;
  color: white;
}

.main-sect .main .main-container .main-sub-container .btn-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.main-sect .main .profile-picture-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 0px 0px white;
          box-shadow: 0 1px 0px 0px white;
  border-radius: 50%;
  height: 380px;
  width: 780px;
  margin-right: 10rem;
}

.main-sect .main .profile-picture-bg .profile-picture {
  height: 92%;
  width: 92%;
  border-radius: 50%;
  background-image: url("../images/9.JPG");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.main-sect .main .profile-picture-bg .profile-picture:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  cursor: pointer;
}

.img-flow {
  width: 100%;
  height: 2rem;
  position: absolute;
  top: 84vh;
}

* {
  margin: 0;
  padding: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  -webkit-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  margin-left: 10rem;
}

section .about .img {
  background-image: url("../images/10.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 34rem;
  width: 50rem;
}

section .about .about-content {
  row-gap: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 10px;
  width: 50%;
}

section .about .about-content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 1rem;
  font-family: "poppins regular";
  font-weight: 400;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

section .about .about-content .highlight-sect h3 {
  font-size: 1.3rem;
  font-family: "poppins semiBold";
  padding: 1rem;
}

section .about .about-content .highlight-sect .highlight {
  margin-left: 1rem;
}

section .about .about-content .btn-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-left: 12rem;
}

section .abt-heading {
  margin-top: 1rem;
}

section .abt-heading h1 {
  text-align: center;
}

section .abt-heading hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/**============================================================================**/
/**Offerings section**/
/**============================================================================**/
.offerings {
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offerings .offering-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 48px;
}

.offerings .offering-container .offering-box {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #333;
  background-color: white;
  height: 290px;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.offerings .offering-container .offering-box:hover {
  border: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 10px #FF5823;
  box-shadow: 0 0 10px #FF5823;
  cursor: pointer;
}

.offerings .offering-container .offering-box i {
  margin-left: 18rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF5823;
}

.offerings .offering-container .offering-box h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: raleway;
  font-weight: normal;
}

.offerings .offering-container .offering-box p {
  text-align: center;
  font-size: 0.9rem;
  /*margin-top:1rem;*/
  font-family: Open Sans;
  font-weight: normal;
}

@media (max-width: 800px) {
  .offerings {
    background-color: #f7f3f3;
    height: 150vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offerings .offering-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    row-gap: 48px;
  }
  .offerings .offering-container .offering-box {
    border: 1px solid #d4d4d4;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    Height: 290px;
    width: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* margin-top:16px;*/
    /*padding:20px;*/
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .offerings .offering-container .offering-box:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 1px 1px 1px #333;
            box-shadow: 1px 1px 1px #333;
    cursor: pointer;
  }
  .offerings .offering-container .offering-box i {
    /* margin:16px auto 16px 96px;*/
    color: #F1D37D;
  }
  .offerings .offering-container .offering-box h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: raleway;
    font-weight: normal;
  }
  .offerings .offering-container .offering-box p {
    text-align: center;
    font-size: 0.9rem;
    /*margin-top:1rem;*/
    font-family: Open Sans;
    font-weight: normal;
  }
}

/**============================================================================**/
/**Portfolio section**/
/**============================================================================**/
.portfolio {
  height: 150vh;
}

.portfolio .portfolio-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .portfolio-section .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .portfolio-section .img-container .front img {
  width: 330px;
  height: 300px;
  border: none;
  border-radius: 5px;
  padding: 8px 15px 40px 15px;
  background-color: red;
}

.card {
  cursor: pointer;
  width: 20rem;
  height: 18.7rem;
}

.card .front {
  background: #24263B;
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.card .back {
  background: #24263B;
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}

.card .front, .card .back {
  width: 20rem;
  height: 18.7rem;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
}

.back-content {
  color: white;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.8rem;
}

.back-content h2 {
  font-family: cursive;
}

.back-content .sm {
  margin: 20px 0;
}

.back-content .sm .sm a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.back-content .sm .sm a:hover {
  background: white;
  color: #24263B;
}

.card:hover > .front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.contact {
  background-color: #24263B;
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5rem;
  margin-left: 2rem;
}

.contact .get-in-touch .get-in-touch-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .get-in-touch .get-in-touch-1 h2 {
  color: white;
  font-size: 2rem;
}

.contact .get-in-touch .get-in-touch-1 p {
  color: #d8d3d3;
  letter-spacing: 0.5rem;
}

.contact .get-in-touch .img {
  background-image: url("../images/mailz.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  width: 35rem;
}

.contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  height: 55vh;
  width: 85%;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .contact-form form .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.contact .contact-form form .form-control label {
  color: black;
  font-size: 0.8rem;
  font-family: "poppins regular";
}

.contact .contact-form form .form-control input, .contact .contact-form form .form-control textarea {
  height: 2rem;
  width: 30rem;
  background-color: #e4e3e3;
  border-radius: 0.7rem;
  border: none;
}

.contact .contact-form form .form-control textarea {
  height: 3.5rem;
}

.contact .contact-form form .form-control p {
  color: #24263B;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

/**============================================================================**/
/**Footer section**/
/**============================================================================**/
.footer {
  background-color: #24263B;
  color: white;
  text-align: center;
  padding: 1rem;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.footer p {
  margin-bottom: 16px;
  font-family: open sans;
  font-size: 1rem;
}
/*# sourceMappingURL=styles.css.map */