@media(max-width:800px){
    body{
        width:100%;
    }
    body .navbar{
        padding:2rem 1rem 1rem 1.5rem;
    }
    body .navbar .logo {
        font-size: 2.4rem;
        
    }
    body .navbar .list .list-items a{
        font-size: 1.5rem;
    }
    body .navbar .social .social-items a{
        font-size: 1.2rem;
    }


    /*Main section*/
    .main{
        width:100%;
    }
    .main p{
        font-size: 1.2rem;
        color:white;
    }
    .btn-3{
        width:10rem;
    height:3rem;
    }
    .main-container{
        margin-left:40px;
    }
}
@media(max-width:400px) {
    /*Nav section*/

    body .navbar{
        
        
    }
    .heading-space{
        margin:25px auto;
    }
    .main{
    background-image: url(../images/3.png);
    background-position: top;
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    }
    .main h1{
        font-size: 1.9rem; 
    }   
    .main p{
        font-size: 1rem;
    }
    .main-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-3{
        width:5.9rem;
        height:3rem;
        border:1px solid white;
    }
    /*Navbar section*/
    body .navbar{
        display: flex;
        flex-direction: column;

    }
    body .navbar .logo{
        font-size: 1rem;
    }

    /*About section*/
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0;
        height:70vh;
        margin:100px 16px auto 20px;
    }
    .hr-1{
        margin:auto;
    }   
    .abt-img{
        width:250px;
        height:250px;
        border: 2px dashed #333;
        border-radius:50%;
        align-self: flex-start;
        margin-left:13px;
    }
    .abt-sect{
        margin-left:0;
    }
    .abt-heading{
        color:#333;
        font-size:2rem;
        text-align: center;
        font-family: arial;
        font-weight: 50;
    }
    /*Offering section*/
    .offerings{
        margin-top:500px;
        margin-bottom:900px;
    }
    /*Portfolio section*/
    .portfolio{
        margin-top:500px;
        margin-bottom:500px;
    }

    /*Contact section*/
    .contact{
        margin-top:350px;
        display:flex;
        flex-direction: column;
        height:90vh;
        background-color: rgb(247, 243, 243);
    }
    .text-area textarea{
    }
    
    .contact-container{
        display:flex;
        flex-direction: column-reverse;
        box-sizing: border-box;
        row-gap: 16px;
    }
    .name-section .name-sect input{
        width:150px;

    }
    .text-area textarea{
        width:315px;
    }
    .form-container{
       display: flex;
       justify-content: center;
       margin-left:-10px;
    }
    .contact-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}
    


