/**============================================================================**/
/**Universal elements**/
/**============================================================================**/
*{
    margin:0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    color:#333;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin:auto;
    color:#333;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.container{
    width:100%;
    height:100%;
}
section{
    height:100vh;
    scroll-snap-align: center;
}

.hr-2{
    width:60px;
    border-top:solid 3px #F1D37D;
    margin:auto;
}
.hr-1{
    width:60px;
    border-top:solid 3px #F1D37D;
}
.btn-1{
    width:8rem;
    height:2.3rem;
    padding:0.1rem;
    color:black;
    background-color:#fff;
    border:1px solid rgb(0, 0, 0);
    margin-top:1rem;
    transition: all 1s ease;

}
.btn-1:hover{
    border:none;
    background-color:#F1D37D;
    cursor:pointer;

}
.btn-2{
    width:160px;
    height:50px;
    padding:10px;
    font-size: 0.8rem;
    font-weight: 400;
    color:#333;
    background-color:rgba(0,0,0,0);
    margin:1rem auto auto 1rem;
    transition:all 1s ease;
    border: 1px black solid;
}
.btn-2 a{
    color:#fff;
}
.btn-2:hover{
    border:none;
    background-color:#F1D37D;
    transform: scale(0.98);
    cursor:pointer;
}
.btn-3{
    width:120px;
    height:50px;
    padding:0.1rem;
    color:white;
    background-color:#ecd082;
    margin-top:1rem;
    transition: all 1s ease;
    opacity:0;
    border:none;
    font-size: 1rem;
}
.btn-3:hover{
    border:none;
    background-color:#ebc358;
    opacity:1;
    cursor:pointer;
}
.btn-3 a{
    color:white;
}
.btn-3-1{
    width:200px;
    height:50px;
    padding:0.1rem;
    color:white;
    background-color:#ecd082;
    margin-top:1rem;
    transition: all 1s ease;
    opacity:0;
    border:none;
    font-size: 1rem;
}
.btn-3-1:hover{
    border:none;
    background-color:#ebc358;
    opacity:1;
    cursor:pointer;
}
.col{
    color:#F1D37D;
}
.h1{
    color:#333;
    font-size:2rem;
    text-align: center;
    font-family: Montserrat;
    font-weight: 50;
}
.social{
    display:flex;
    width:100%;
    justify-content: flex-end;
}
.social .social-items{

}
.social .social-items a{
    margin-left:0.8rem;
    color:rgb(245, 244, 244);
    transition:all 1s ease;
}
.social .social-items a:hover{
    margin-left:0.8rem;
    color:#F1D37D;;
}

.social-2{
    display:flex;
    width:100%;
    justify-content: flex-start;
}
.social-2 .social-items-2{
    margin:1rem;
    color:#333

}
.social-2 .social-items-2 a{
    margin:1rem 1rem 1rem 0.3rem;
    color:rgb(51, 51, 51);
    transition:all 1s ease;
}
.social-2 .social-items-2 a:hover{
    color:#F1D37D;
}

.social-3{
    display:flex;
    width:100%;
    justify-content: center;
    margin-top:16px;
    margin-bottom:16px;
}
.social-3 .social-items{

}
.social-3 .social-items a{
    margin-left:26px;
    color:rgb(245, 244, 244);
    transition:all 1s ease;
}
.social-3 .social-items a:hover{
    color:#F1D37D;;
}
#preloader{
    background: #fff url(../images/4.GIF) no-repeat center center;
    background-size: 30%;
    width:100%;
    height:100vh;
    z-index: 100;
    position: fixed;
}
/**============================================================================**/
/**Navbar section**/
/**============================================================================**/
body .navbar{
    height:10vh;
    background-color:rgba(71, 47, 47, 0.3);
    display: flex;
    padding:1rem 1rem 1rem 1.5rem;
    width:100%;
    position:fixed;
    z-index: 2;
}
body .navbar .logo{
    font-size: 1.5rem;
    width:100%;
    justify-content: flex-start;
}
body .navbar .logo a{
    color:white;
}
body .navbar .list{
    display:flex;
    width: 100%;
    justify-content: center;
}
body .navbar .list .list-items{
    margin-left:32px;
}
body .navbar .list .list-items a{
    color:white;
    font-weight: bold;
    font-size:1rem;
    transition: all;
    transition-duration: 1s;
}
body .navbar .list .list-items a:hover{
    background-color: #333;
    padding:0.3rem;
    border-radius: 5px;
}

/**============================================================================**/
/**Main section**/
/**============================================================================**/

.main{
    background-image: url(../images/3.png);
    background-position: top;
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container{  
}
.main h1{
    font-size: 2.3rem;
    padding-bottom: 1rem;
    color:white;
    text-shadow:1px 1px 1px #333;
}
.main p{
    font-size: 1rem;
    color:white;
}
.btn-main{
    display:flex;
    column-gap: 20px;
}

/**============================================================================**/
/**About section**/
/**============================================================================**/

.about{
    display:flex;
    color:#333;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
}
.abt-img{
    width:300px;
    height:300px;
    border: 2px dashed #333;
    border-radius:50%;
    padding:5px;
    transition: all 1s ease;
}
.imagess img:hover{
    padding:none !important;
    cursor:pointer;
}
.abt-sect{
    margin-left:4rem;
}
.abt-sect h3{
    font-size: 1.3rem;
    font-family: Raleway;
    font-weight: normal;
    margin: 0.7rem auto;
}
.abt-sect p{
    font-size: 0.9rem;
    color:#333;
    font-family:openSans;
    font-weight: normal;
}
.abt-heading{
    color:#333;
    font-size:2rem;
    text-align: left;
    font-family: Montserrat;
    font-weight: 50;
}
/**============================================================================**/
/**Offerings section**/
/**============================================================================**/
.offerings{
    background-color: rgb(247, 243, 243);
    height:150vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.offering-cont{

}
.offering-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap:48px;
}
.offering-box{
    border:1px solid rgb(212, 212, 212);
    border-radius: 5px 5px 5px 5px;
    background-color: #fff;
    Height:290px;
    width:330px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   /* margin-top:16px;*/
    /*padding:20px;*/
    box-sizing: border-box;
    transition: all 1s;
}
.offering-box:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 1px #333;

}
.offering-box h3{
    text-align: center;
    font-size: 1.5rem;
    font-family: raleway;
    font-weight: normal;
}
.offering-box p{
    text-align: center;
    font-size: 0.9rem;
    /*margin-top:1rem;*/
    font-family: Open Sans;
    font-weight: normal;
    
    
}
.offering-box i{
   /* margin:16px auto 16px 96px;*/
    color:#F1D37D;
}

/**============================================================================**/
/**Portfolio section**/
/**============================================================================**/
.portfolio{
    height:150vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.img-container{
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content:space-evenly;
    row-gap: 2rem;
    margin-top:16px;
    /*margin:16px auto auto 20px;*/
}
.img-container .img-items:nth-child(1){
    background-color: red;
  
}
.img-container .img-items:nth-child(2){
    background-color:orange;
  
}
.img-container .img-items:nth-child(3){
    background-color:aqua;
  
}
.img-container .img-items:nth-child(4){
    background-color: blue;
  
}
.img-container .img-items:nth-child(5){
    background-color: yellow;
  
}
.img-container .img-items:nth-child(6){
    background-color: red;
  
}
.img-container div{
    /*margin-top: 16px;*/
    transition: all 1s;

}
.img-container div:hover{
    transform: scale(1.05);

}
.img-items img{
    width:330px;
    height:300px;
    border:none;
    padding:12px 18px 45px 18px;   
}

/**============================================================================**/
/**Contact section**/
/**============================================================================**/
.contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height:90vh;
    background-color: rgb(247, 243, 243);

}
.contact-container{
    display:flex;
    margin:1rem;
    column-gap: 48px;
}
.form-container{
    margin-left: 48px;
}
.name-section{
    display: flex;
    margin-top:20px;
    margin-bottom:10px ;
    
}
.text-area textarea{
    width:520px;
    height:210px;
    margin-left:16px;
    margin-top:16px ;
    background-color:rgba(0,0,0,0);
}
.text-area textarea::placeholder{
    font-size: 0.8rem;
    padding:10px;
    color:black;
    font-family:open sans,sans-serif;
    font-weight: 400;
}
.name-section .name-sect{
    display:flex;
    flex-direction: column;
    margin-left:16px;
}
.name-section .name-sect input{
    height:32px;
    width:250px;
    border:1px solid rgb(129, 126, 126);
    background-color:rgba(0,0,0,0);
    border-top:0px;
    border-left:0;
    border-right: 0px;
}
/* .name-sect input:active{
    border: none;
} */
.name-section .name-sect input::placeholder{
    font-size: 0.8rem;
    font-weight: 400;
    line-height:20px ;
    padding-left:10px;
    color:black;
    font-family: open sans,sans-serif;
}
.name-section .name-sect label{
    display: none;
}
/* for the contact details */

.contact-details{
    margin-left:32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
}
.contact-details h1{
    font-size:1.5rem;
    font-family: arial;
    font-weight: lighter;
    /* margin-bottom:0.3rem; */
}
.contact-details p{
    font-size: 1rem;
    font-family: arial;
}
.contact-section{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
}
.contact-subsection{
    /* margin-top:12.8px; */
    display:flex;
    align-items: center;
    column-gap: 13px;
}
.contact-subsection h1{
    /* margin-left:16px; */
    font-size: 1.2rem;
    font-family: open sans;
    font-weight: normal;
}
.contact-subsection i{
    /* margin-top:10px; */
}

.contact-text{
    margin-left:35px;
    font-size: 0.8rem;
    font-family: open sans;
    font-weight: normal;
    
}

/**============================================================================**/
/**Footer section**/
/**============================================================================**/
.footer{
    background-color:black;
    color:white;
    text-align: center;
    padding:1rem;
    height:15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}
.footer footer{
    margin-bottom: 16px;
    font-family: open sans;
    font-size: 1rem;
}
